<button id="btnLogin" class="btn btn-navbar-login">Iniciar Sesión</button>

<!--LOGIN-->
<div class="modal fade" id="modalLoginMain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header">                        
                <a class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </a>
            </div>
            <!--Body-->
            <div class="modal-body mx-4 text-center">
                <span class="titulo-modal">Introduce un email</span>
                <!--Body-->
                <div class="md-form mb-4 mt-5 text-left">
                    <input type="email" id="inLoginEmail" class="input-modal form-control" placeholder="Introduce tu Email">
                    <span class="d-none errorLogin" id="txtErrorEmail">Email incorrecto</span>
                </div>
                <div class="text-center mb-3">
                    <button type="button" class="btn btn-modal" id="btnLoginNext">Siguiente</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--LOGIN USUARIO EXISTENTE-->
<div class="modal fade" id="loginUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header text-center">
                <a class="atras" aria-label="back" id="atrasLoginUser"><i class="fas fa-arrow-left"></i></a>
                <a  class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </a>
            </div>
            <!--Body-->
            <div class="modal-body mx-4 text-center">
                <span class="titulo-modal" id="tituloUser"></span>
               
                <!--Body-->
                <div class="md-form mb-4 mt-5 text-left">
                    <input type="password" id="inInicioSesionPassword" class="input-modal form-control" placeholder="Introduce tu contraseña">
                    <span class="d-none errorLogin" id="txtErrorPassword">Email incorrecto</span>
                </div>
                <div class="text-center mb-3">
                    <button type="button" class="btn btn-modal" id="btnLoginUser">Iniciar sesión</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--FIN LOGIN-->
<!--Registro-->
<div class="modal fade" id="registroCuentaUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header">
                <a class="atras" aria-label="back" id="atrasLoginCreate"><i class="fas fa-arrow-left"></i></a>           
                <a class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </a>
            </div>
            <!--Body-->
            <div class="modal-body mx-4 text-center">
                <span class="titulo-modal" id="txtRegistroUsuarioEmail"></span>
                <!--Body-->
                <div class="md-form mb-4 mt-5 text-left">
                    <input type="text" id="inRegistroUsuarioNombre" class="input-modal form-control" placeholder="Introduce tu nombre">
                    <span class="d-none errorLogin" id="txtErrorRegistroUsuarioNombre">Nombre erroneo</span>
                </div>
                <div class="md-form mb-4 text-left">
                    <input type="text" id="inRegistroUsuarioApellidos" class="input-modal form-control" placeholder="Introduce tus apellidos">
                    <span class="d-none errorLogin" id="txtErrorRegistroUsuarioApellidos">Apellidos erroneo</span>
                </div>
                <div class="md-form mb-4 text-left">
                    <input type="text" id="inRegistroUsuarioTelefono" class="input-modal form-control" placeholder="Introduce tu telefono">
                    <span class="d-none errorLogin" id="txtErrorRegistroUsuarioTelefono">Telefono erroneo</span>
                </div>
                <div class="md-form mb-4 text-left">
                    <input type="password" id="inRegistroUsuarioPassword" class="input-modal form-control" placeholder="Introduce tu contraseña">
                    <span class="d-none errorLogin" id="txtErrorRegistroUsuarioPassword">Contraseña erronea</span>
                </div>
                <div class="text-center mb-3 text-left">
                    <button type="button" class="btn btn-modal" id="btnRegistrarUsuario">Crear cuenta</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--FIN Registro-->