@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <form action="Busqueda" method="get">
        <div class="input-group mt-4  ml-3 row">
            <div class="col-12 align-content-center">
                <input id="inBuscarRestaurante" type="text" class="form-control" placeholder="Buscar restaurante" aria-label="Buscar restaurante" aria-describedby="BuscarRestaurante" name="br">
            </div>
        </div>
    </form>
    <div class="card-deck row">
        <div class="col-12 mt-4">
            <div class="card distrito">
                <div class="card-content">
                    <a class="card-content-a" href="/Distrito/B/Sarrià-Sant Gervasi">
                        <img src="~/lib/img/sarria.png" class="card-image" />
                        <div class="card-image-content">
                            <h2 class="card-text">Sarrià - Sant Gervasi</h2>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-12 mt-4">
            <div class="card distrito">
                <div class="card-content">
                    <a class="card-content-a" href="/Distrito/B/Les Corts">
                        <img src="~/lib/img/les_corts.png" class="card-image" />
                        <div class="card-image-content">
                            <h2 class="card-text">Les Corts</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card distrito">
                <div class="card-content">
                    <a class="card-content-a" href="/Distrito/B/Sants-Montjuïc">
                        <img src="~/lib/img/sants-montjuic.png" class="card-image" />
                        <div class="card-image-content">
                            <h2 class="card-text">Sants Monjuïc</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card distrito">
                <div class="card-content">
                    <a class="card-content-a" href="/Distrito/B/Ciutat Vella">
                        <img src="~/lib/img/ciutat_vella.png" class="card-image" />
                        <div class="card-image-content">
                            <h2 class="card-text">Ciutat Vella</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card distrito">
                <div class="card-content">
                    <a class="card-content-a" href="/Distrito/B/Sant Martí">
                        <img src="~/lib/img/sant_marti.png" class="card-image" />
                        <div class="card-image-content">
                            <h2 class="card-text">Sant Martí</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card distrito">
                <div class="card-content">
                    <a class="card-content-a" href="/Distrito/B/Sant Andreu de Palomar">
                        <img src="~/lib/img/sant_andreu.png" class="card-image" />
                        <div class="card-image-content">
                            <h2 class="card-text">Sant Andreu</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card distrito">
                <div class="card-content">
                    <a class="card-content-a" href="/Distrito/B/Nou-Barris">
                        <img src="~/lib/img/nou_barris.png" class="card-image" />
                        <div class="card-image-content">
                            <h2 class="card-text">Nou Barris</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card distrito">
                <div class="card-content">
                    <a class="card-content-a" href="/Distrito/B/Horta">
                        <img src="~/lib/img/horta.png" class="card-image" />
                        <div class="card-image-content">
                            <h2 class="card-text">Horta-Guinardó</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card distrito">
                <div class="card-content">
                    <a class="card-content-a" href="/Distrito/B/Gràcia">
                        <img src="~/lib/img/gracia.png" class="card-image" />
                        <div class="card-image-content">
                            <h2 class="card-text">Gràcia</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card distrito">
                <div class="card-content">
                    <a class="card-content-a" href="/Distrito/B/Eixample">
                        <img src="~/lib/img/eixample.png" class="card-image" />
                        <div class="card-image-content">
                            <h2 class="card-text">L'Eixample</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

